<template src="./App.html"></template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "App",
  components: {},
  computed: {
    ...mapGetters("elementsStore", {
      getlistElements: "getlistElementsInStore",
    }),
    listElements() {
      return this.getlistElements;
    },
  },
  methods: {
    ...mapActions("elementsStore", {
      fetchInfosElements: "fetchInfosElementsInStore",
    }),
  },
  created() {
    this.fetchInfosElements();
  },
};
</script>

<style lang="scss" src="./App.scss"></style>
