<div class="app" id="app">
  <header>
    <h1>Random Associations</h1>
  </header>
  <main>
    <div class="section_add_elt">
      <p>Add elements, the click "sort"..</p>
      <div class="div_input">
        <input
          type="text"
          class="text_input"
          autofocus=""
          placeholder="Ex: Paul [↵] Margot [↵]"
          value=""
          title="Entrez ici un mot ou un nom à tirer au sort."
        />
        <button
          class="btn_add"
          title="Cliquez ici pour ajouter une valeur à la liste"
        >
          +
        </button>
      </div>

      <p class="txt_supp">
        (pour ajouter un élément, inscrivez-le ci-dessus puis cliquez sur le
        bouton [+] ou sur la touche Entrée)
      </p>
    </div>
    <ul class="section_lst_values">
      <li
        class="item-elt"
        v-for="elt in listElements"
        v-bind:key="elt.elementId"
      >
        {{elt.nom}}
      </li>
    </ul>
    <div class="section_submit_values">
      <button
        class="btn_submit_values"
        type="button"
        disabled=""
        title="Vous devez inscrire au moins deux valeurs avant de pouvoir tirer au sort."
      >
        Associer au hasard
      </button>
    </div>
  </main>
  <footer>
    <p>Copyright © 2020 - Random Associations | Le Bellec Mathieu</p>
  </footer>
</div>
