@import './global.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    position: relative;
    height: $height-header;
    text-align: center;
    color: $c-text-light;
    background-color: $c-primary;
    h1 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }
  main {
    text-align: center;
    height: $height-main;

    .section_add_elt {
      padding: 0 1rem;
      margin: 50px auto 50px;
      .div_input {
        margin-top: 1.2rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        .text_input {
          border: 1px solid $c-secundary;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: 40px;
          padding: 5px 10px;
          width: 250px;
        }
        .btn_add {
          border: 1px solid $c-primary;
          margin-left: 10px;
          height: 40px;
          width: 40px;
          border-radius: 3px;
          background-color: $c-primary;
          color: $c-secundary-light;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: background-color 0.2s;
          font-weight: Extra-bold;

          &:hover {
            background-color: $c-primary-dark;
            cursor: pointer;
          }
        }
      }

      .txt_supp {
        font-size: 0.95rem;
        color: $c-secundary;
        margin-top: 1rem;
      }
    }

    .section_lst_values {
      min-height: 50px;
      max-height: 50vh;
      overflow-y: auto;
      text-align: center;
      margin: 40px 0;
      .item-elt {
        border: 1px solid $c-secundary;
        font-size: 1rem;
        margin: 5px;
        padding: 5px 15px;
        background-color: $c-secundary-light;
        transition: background-color $animation-duration;
        min-width: 60px;
        text-align: center;
      }
    }
    .section_submit_values {
      .btn_submit_values {
        background-color: $c-third;
        border: 1px solid transparent;
        border-radius: 3px;
        color: $c-text-light;
        cursor: pointer;
        font-size: 1.5rem;
        height: 2.25em;
        line-height: 1.5;
        opacity: 1;
        padding: calc(0.375em - 1px) 0.75em;
        text-align: center;
        transition: opacity $animation-duration,
          transform $animation-duration-short;
        width: 250px;
        &:disabled {
          background-color: $c-secundary;
          cursor: default;
          opacity: 0.2;
          transition: opacity $animation-duration,
            background-color $animation-duration;
        }
      }
    }
  }
  footer {
    position: relative;
    height: $height-footer;
    background-color: $c-primary;
    color: $c-text-light;
    text-align: center;
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
