@font-face {
  font-family: 'pacifico';
  src: url('./assets/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
}
html,
body,
.app {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: $font-txt, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $c-text-dark;
  background-color: $site-bkg-color;
}
ul {
  list-style-type: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
  &:focus {
    outline: none;
  }
}

@each $heading in $headings {
  #{$heading} {
    font-size: $title-font-size-upper;
    font-size: ($title-font-size-upper / $font-size-base) + em;
    margin-bottom: $title-margin-bottom - $title-margin-bottom-dec;
  }
  $title-font-size-upper: $title-font-size-upper - $title-font-size-dec;
  $title-margin-bottom: $title-margin-bottom - $title-margin-bottom-dec;
}

h1,
h2,
h3,
h4 {
  position: relative;
  display: inline-block;
  font-family: $font-title, sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

button,
.btn {
  cursor: pointer;
  text-align: center;
  font-family: $font-txt, sans-serif;
  font-size: $base-size-font-title-s;

  &:focus {
    outline: none;
  }
}

.section {
}

@media only screen and (min-width: $min-width-m) {
}
