$animation-duration-short: 0.3s;
$animation-duration: 0.5s;

/*******************************
** Media Query
********************************/
$min-width-s: 450px;
$min-width-m: 650px;
$min-width-l: 850px;

/*******************************
** Colors
********************************/
$c-primary: #fdda00;
$c-primary-light: #ffff53;
$c-primary-dark: #efd400;

$c-secundary: #aaa;
$c-secundary-light: #fafafa;
$c-secundary-dark: #2d373d;

$c-third: #00e661;

$c-text-light: $c-secundary-light;
$c-text-dark: $c-secundary-dark;

/*******************************
** Fonts
********************************/
$font-title: 'pacifico';
$font-txt: 'roboto';

$base-size-font-txt-s: rem(16);
$base-size-font-txt-m: rem(20);
$base-size-font-txt-l: rem(24);

$base-size-font-title-s: rem(16);
$base-size-font-title-m: rem(22);
$base-size-font-title-l: rem(32);

$headings: h1 h2 h3 h4 h5 h6;
$font-size-base: 16px;

$title-font-size-upper: 36px;
$title-font-size-dec: 6px;
$title-margin-bottom: 35px;
$title-margin-bottom-dec: 5px;

/*******************************
** Globals
********************************/
$section-width: 70%;
$section-scr-width: 100%;

$site-bkg-color: $c-secundary-light;

/*******************************
** Import
********************************/
@import './variables/v-globals';
